<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystory001.mappers.boardMapper">

	<insert id="insertBoard">
		insert into board
		values(#{num},#{name},#{subject},#{content},#{readCount},#{date},#{file})
	</insert>

	<select id="getBoardList" resultType="com.mystory001.domain.BoardDTO">
		select * 
		from board
		order by num desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(num) from board
	</select>
	
	<select id="getBoard" resultType="com.mystory001.domain.BoardDTO">
		select * from board where num = #{num}
	</select>

	<update id="updateReadCount">
		update board
		set readCount = #{readCount}
		where num = #{num}
	</update>
	
	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*)
		from board
	</select>
	
	<update id="updateBoard">
		update board
		set subject=#{subject}, content=#{content} <!-- or 사용 ㄴㄴ -->
		where num = #{num}
	</update>
	
	<delete id="deleteBoard">
		delete from board
		where num = #{num}
	</delete>

</mapper>
